.brand {
	font-size: 35px;

}

.site-header {
	position: relative;
	box-shadow: 0 0 10px 0 darkgray;
}

.site-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 660px) {
	.site-header__wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media (max-width: 659px) {
	.site-header__end {
		padding-right: 4rem;
	}
}

@media (min-width: 660px) {
	.nav__wrapper {
		display: flex;
	}
}

@media (max-width: 659px) {
	.nav__wrapper {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: -1;

		visibility: hidden;
		opacity: 0;
		transform: translateY(-100%);
		transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	}

	.nav__wrapper.active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.nav__item a {
	display: block;
	padding: 1.5rem 1rem;
	font-size: 22px;

}

.nav__item {
	list-style: none;
	margin-left: 50px;
}

.nav__toggle {
	display: none;
}

@media (max-width: 659px) {
	.nav__toggle {
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}
}


.wrapper {
	max-width: 1300px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 4%;
	padding-right: 4%;
	margin-left: auto;
	margin-right: auto;
}