@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.content {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 90%;
	background-color: rgb(247 247 247 / 1);
	border-radius: 10px;
}

#layout1 {
	padding: 10px;
}

#layout2 {
	padding: 10px;
}

#layout3 {
	padding: 10px;
}

.mtop_3per {
	margin-top: 3%;
}

.mtop_5per {
	margin-top: 5%;
}

.mtop_10per {
	margin-top: 10%;
}

.sample {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: #3f3f3f;
	font-weight: bold;
}

.content_box {
	margin-left: 5%;
	margin-right: 5%;
}

.item_box {
	margin-top: 2%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px darkgray;
	background-color: white;
}

.item_box_se {
	margin-top: 2%;
	padding: 20px;
	box-shadow: 0 0 5px darkgray;
	background-color: white;
}

.item_box_title {
	padding-bottom: 1%;
	color: #3f3f3f;
}

.radio_btns {
	display: flex;
	align-items: center;
}

.radio_btn {
	margin: 5px;
	display: flex;
	align-items: center;
}

.radio_btn label {
	display: flex;
	padding: 5px;
}

.textarea_title {
	height: 45px;
	color: #3f3f3f;
}

.textarea_question {
	height: 500px;
	color: #3f3f3f;
}

.textarea_selection {
	height: 45px;
	color: #3f3f3f;
}

.btn {
	width: 150px;
	margin-bottom: 3%;
	padding: 5px 30px 5px 30px;
	border-radius: 3px;
	color: blue;
	border: solid 1px lightgray;
	background: white;
	box-shadow: 0 0 5px lightgrey;
	font-size: 1.3rem;
	text-align: center;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0 15px lightgrey;
	transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.btns {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}

.check_box {
	display: flex;
	padding-top: 10px;
	padding-left: 30px;
	font-weight: bold;
}

textarea {
	padding: 10px;
	box-sizing: border-box;
	resize: none;
	border-radius: 3px;
	font-size: 1.5rem;
}

select {
	width: 90%;
	height: 40px;
	font-size: 1.2rem;
	background-color: rgb(247 247 247 / 1);
	border-radius: 3px;
}

input[type="radio"] {
	width: 20px;
	height: 20px;
	accent-color: blue;
}

.msg-err {
	width: 60%;
	height: 45px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	border: solid 1px red;
	border-radius: 8px;
	background: #ffdfdf;
}